
<%= form_for @user do |f| %>
	<fieldset>
		<ul>
			<li>
				<%= f.label :first_name%>
				<%= f.text_field :first_name, autofocus: true  %>
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</li>
			<li>
				<%= f.label :email %>
				<%= f.email_field :email %>
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password %>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</li>
			<li>
				<%= f.label :phone_number %>
				<%= f.telephone_field :phone_number %>
			</li>
		</ul>
	</fieldset>
	<p>
		<%= f.submit %> | 
		<%= link_to "Cancel", restaurants_path %>
	</p>
<% end %>
<%= select_tag 'user[test(1i)]', options_for_select(2013..2014) %> <!-- Year -->
<%= hidden_field 'user','test(2i)', value: 9 %> <!-- Month --> 
<%= hidden_field 'user','test(3i)', value: 19 %> <!-- Day -->
<%= select_tag 'user[test(4i)]', options_for_select(8..16)  %> <!-- Hours -->
<%= hidden_field 'user','test(5i)', value: 0 %> <!-- Seconds -->

<%#= time_select :test, :test%>