<h1>Where to Dine?</h1>

<% @restaurants.each do |restaurant| %>
<article class="restaurant">
	<h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
	<h4>Summary</h4>
	<p><%= restaurant.summary %></p>
	<h4>Contact</h4>
	<p><%= restaurant.address %>, <%=restaurant.city %>, <%= restaurant.province %>, <%= restaurant.postal_code %></p>
	<p><%= restaurant.phone_number %></p>
</article>
<% end %>