<h1><%= @restaurant.name %></h1>

<div id="restaurant_details">
	<h2>Summary</h2>
	<p><%= @restaurant.summary %></p>
	<p><strong>Maximum Capacity: </strong><%=@restaurant.max_seats %></p>
	<h2>How to find us!</h2>
	<p><strong>Address: </strong>
		<%= @restaurant.address %>
		<%= @restaurant.city %>, <%= @restaurant.province %>
		<%= @restaurant.postal_code %>		
	</p>
	<p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>
	<p><strong>Email: </strong><%= @restaurant.email %></p>
	<p><strong>Website: </strong><%= @restaurant.website %></p>
</div>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %> | 
<%= link_to 'Delete',@restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>

<!-- #############MAKE A RESERVATION################ -->
<% if current_user %>
<h4>Make a Reservation</h4>

<%= form_for([@restaurant, @reservation]) do |f| %>
	<p>Inside the Reservation Form</p>
<% end %>
<% end %>